/* @font-face {
  font-family: "Font";
  src: url("../../assets/font/NIAGSOL.TTF") format("truetype");
} */
.my-toast {
  font-family: "Montserrat";
}
.montserrat-Font2-400-italic {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}
.montserrat-Font2-400 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.montserrat-Font2-900 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.montserrat-Font2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}
.body-simone {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}
.barra-nera {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 70px;
  background-color: #000;
}

.parte-sinistra {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
}
.logo svg {
  height: 40px;
  width: auto;
}

.logo-scritta {
  height: 20px;
  display: flex;
  align-items: center;
}
.logo-scritta svg {
  height: 30px;
  width: auto;
}

.nome-menu {
  position: relative;
}

.nome-menu a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.2s;
  position: relative;
  padding-right: 15px;
  display: inline-flex;
  align-items: center;
}

.nome-menu a:hover {
  color: #ff4747;
}

.freccia {
  margin-left: 5px;
  font-size: 0.7em;
  transition: transform 0.3s ease;
  user-select: none;
}

.nomi-film {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 800px;
  min-height: 400px;
  background-color: black;
  overflow-y: hidden;
  transform: translateX(-50%);
  z-index: 1000;
  border-radius: 5px;
  padding: 15px 20px;
}

.nome-menu:hover .nomi-film {
  display: flex;
  flex-direction: row;
}

.colonna1, .colonna2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: inherit;
  min-height: auto;
}

.nomi-film a {
  color: white;
  text-decoration: none;
  padding: 6px 8px;
  font-size: 14px;
  width: auto;
  white-space: nowrap;
  transition: color 0.2s;
}

.nomi-film a:hover {
  color: #ff4747;
}

.icone {
  display: flex;
  gap: 20px;
  align-items: center;
}

.icona-svg {
  width: 24px;
  height: 24px;
  color: white;
}

.icona-svg:hover {
  color: #ff4747;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
}

.trattino {
  width: 24px;
  height: 2px;
  background-color: white;
  border-radius: 2px;
}
.menu-links {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
}

.toggle-dropdown {
  display: none;
}

.freccia-dropdown {
  cursor: pointer;
  margin-left: 5px;
  user-select: none;
  font-size: 0.8em;
  transition: transform 0.3s ease;
  display: none;
}
.login-telefoni {
  display: none;
}

@media (max-width: 768px) {
  .login-telefoni {
    display: block;
  }
}


@media (max-width: 768px) {
  .menu-links {
    display: none;
    flex-direction: row;
  }
  .menu-links.active {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #000;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding-bottom: 20px;
    z-index: 10000;
  }
  .hamburger {
    display: flex;
    order: 3;
    margin-left: auto;
  }
  .icone {
    display: none;
  }
  .nome-menu:hover .nomi-film {
    display: none;
  }
  
  .freccia-dropdown {
    display: inline-block;
  }
  .toggle-dropdown:checked + .freccia-dropdown + .nomi-film {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: calc(100% + 40px);
    left: 50%;
    transform: translateX(-50%);
    width: 500px; 
    min-height: auto;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto;
    flex-wrap: wrap;
    z-index: 1000;
  }
  .colonna1, .colonna2 {
    flex: 1 1 50%;
    min-width: 140px;
  }
}

/* card seire tv */

#film-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  justify-content: center;
}

.card-serie {
  width: 200px;
  cursor: pointer;
  text-align: center;
}

.card-serie img {
  width: 100%;
  border-radius: 8px;
}

/* CAROLINA */
body {
  margin: 0;
  font-family: "Font", sans-serif;
  background: url("../../assets/images/sfondo-teatro.jpg") no-repeat center
    center fixed;
  background-size: cover;
  color: white;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem;
  min-height: calc(100vh - 70px);
  background: rgba(0, 0, 0, 0.6);
}

.login-container {
  background: rgba(0, 0, 0, 0.85);
  padding: 2rem;
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.login-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-family: "Font", sans-serif;
  text-shadow: 1px 1px #000;
  letter-spacing: 2px;
}

#login-page .login {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.login-form .form-group {
  margin-bottom: 1.2rem;
  text-align: left;
  letter-spacing: 2px;
}

.login-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.login-form input {
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #333;
  color: white;
}

.login-form input::placeholder {
  color: #aaa;
}

.form-btn {
  width: 100%;
  background-color: #9e0003;
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  letter-spacing: 2px;
}
.credenziali {
  width: 300px;
}

.form-btn:hover {
  background-color: #ff4747;
}

.login-footer {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #ccc;
  letter-spacing: 2px;
}

.login-footer a {
  color: #ff4747;
  text-decoration: none;
}

.login-footer a:hover {
  text-decoration: underline;
}

.logo-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
}

.logo svg {
  width: 30px;
  height: auto;
}

.logo-scritta svg {
  width: 60px;
  height: auto;
}

/* FINE CAROLINA */
/* SALVATORE */
.contenuto-pagina {
  padding: 3rem 2rem;
  text-align: center;
  min-height: 90vh;
}
.cinecards-footer {
  background-color: #121212;
  color: #cccccc;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  flex-wrap: wrap;
  /* position: fixed;
  bottom: 0; */
}

.cinecards-footer-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 200px;
  margin-bottom: 1rem;
}

.cinecards-footer a {
  color: #cccccc;
  text-decoration: none;
  transition: color 0.3s;
}

.cinecards-footer a:hover {
  color: #ffffff;
}

.cinecards-footer p {
  margin: 0;
}

.cinecards-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s, filter 0.3s;
}

.cinecards-icon:hover {
  transform: scale(1.2);
  filter: brightness(1.5);
}

.cinecards-social-icons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cinecards-separator {
  width: 80%;
  height: 1px;
  background-color: #333;
  margin: 1rem auto;
  display: none;
}

@media (max-width: 1024px) {
  .cinecards-footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 2.5rem 2rem;
    font-size: 1.6rem;
  }

  .cinecards-footer-section {
    min-width: 200px;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .cinecards-footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
  }
  .cinecards-separator {
    display: block;
  }

  .cinecards-footer-section {
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
  }

  .cinecards-social-icons {
    justify-content: center;
  }
}
